<form action="/recipes" method="post">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description</label><br>
  <input type="text" id="description" name="description">
  <input type="submit" value="Submit">
</form>

